<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
  <link rel="stylesheet" type="text/css" href="index.css"/>
</head>
<body>
  <h1>All Check-Ins In Descending Order by Timestamp</h1>
  <% log.forEach(key => { %>
    <div id="log">
      <%= key.created_at %><br/>
    </div>
  <% }) %>
</body>
</html>
